
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
/* Globals */
h1{
  font-weight: 700;
  font-size: 64px;
  margin: 0;
}
.title-section{
  padding-bottom: 50px;
}
/* end Global */

/* Header */
nav{
  height: 80px;
  padding-top: 25px;
  background: #151520;
}
.header{
  height: 550px;
  background: #151520;
  padding-top: 10vh;
  color: #ffffff;
}
.subtitle{
  padding-top: 15px;
  max-width: 420px;
}

/* End Header */

/* Section Collection */
section{
  padding-top: 50px;
  color: #151520;
}
.collection-item{
  background: url('./assets/images/collection1.svg');
  background-size: cover;
  width: 100%;
  height: 550px;
}
.collection-item2{
  background: url('./assets/images/collection2.svg');
  background-size: cover;
  width: 100%;
  height: 550px;
}
.collection-detail{
  position: relative;
  top: 50%;
  left: 35%;
  transform: scale(0);
  transition: all 0.3s;
}
.collection-item:hover{
  box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
  cursor: pointer;
  opacity: 0.9;
}
.collection-item:hover .collection-detail{
  transform: scale(1);
}
.collection-item2:hover{
  box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
  cursor: pointer;
  opacity: 0.9;
}
.collection-item2:hover .collection-detail{
  transform: scale(1);
}
.text-inner-img{
  font-weight: 700;
  color: #ffffff;
}
/* endSection Collection */

/* Section Service */
.img-service{
  width: 70%;
}
.text-service{
  font-size: 24px;
  margin-bottom: 30px;
}
.subtext-service{
  line-height: 30px;
}
/* endSection Service */

/* GridCollection */
.jumbotron-grid{
  padding-top: 10vh;
  padding-bottom: 50vh;

}
.jumbotron-grid .img-grid{
  float: left;
  width: 16.66%;
  height: 320px;
}
/* GridCollection */


/* Work Inquiry */
.section-works{
  -webkit-box-shadow: 3px 3px 29px 8px rgba(184,184,184,1);
  -moz-box-shadow: 3px 3px 29px 8px rgba(184,184,184,1);
  box-shadow: 3px 3px 29px 8px rgba(184,184,184,1);
  border-radius: 33px;
  margin-bottom: 50px;
}
.section-title{
  padding: 30px;
  max-width: 500px;
  line-height: 28px;
}
.section-title h5{
  font-weight: 700;
}
.section-work-button{
  padding: 10vh;
}
.primary{
  font-size: 18px;
  height: 55px;
  width: 200px;
  border-radius: 15px;
  background: #287E75;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.primary:hover{
  box-shadow: 3px 3px 29px 8px rgba(217,217,217,1);
}
/* endWork Inquiry */

/* Footer */
.page-footer{
  background-color: #151520;
  padding-bottom: 20px;
}
.title-footer{
  text-align: center;
}
.grey-text{
  font-weight: 200;
}
.page-footer .footer-copyright{
  background-color: #151520;
}
.icons-socmed{
  font-size: 24px;
  margin-top: 15px;
  letter-spacing: 10px;
}
.icons-socmed a{
  color: #ffffff;
}
.icons-socmed a:hover{
  color: #b1b1b1;
}
/* End Footer */



/* RESPONSIVE ALL MEDIA */

  /* Small Device */
  @media only screen and (max-width: 480px) {
    h1{
      font-size: 30px;
    }
    .header{
      height: auto;
      width: 100%;
      padding-bottom: 25px;
    }
    .img-header{
      width: 100%;
    }
    .subtitle{
      margin-bottom: 25px;
    }


    .collection-item{
      background: url('./assets/images/collection1.svg');
      background-size: cover; 
      height: 450px;
    }
    .collection-item2{
      background: url('./assets/images/collection2.svg');
      background-size: cover;
      width: 100%;
      height: 450px;
    }
    .collection-detail{
      position: relative;
      top: 50%;
      left: 30%;
      transform: scale(0);
      transition: all 0.3s;
      width: 0;
    }
    .collection-item:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item:hover .collection-detail{
      transform: scale(1);
    }
    .collection-item2:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item2:hover .collection-detail{
      transform: scale(1);
    }
    .text-inner-img{
      font-weight: 700;
      color: #ffffff;
      background: red;
    }
    .img-service{
      width: 100%;
      margin-bottom: 30px;
    }
    .section-works{ 
      float: left;
      margin-top: 150px;
    }
    .section-work-button{
      padding: 0 0 50px 30px;
    }
    .jumbotron-grid .img-grid{
      width: 100%;
      height: 520px;
      margin-bottom: -130px;
    }
    .page-footer{
      float: left;
      background-color: #151520;
      width: 100%;
    }
    
  }
  /* End Small Device */

  /* Tablet */
  @media all and (min-width: 480px) and (max-width: 768px) {
    h1{
      font-size: 50px;
    }
    .header{
      height: auto;
      width: 100%;
      padding-bottom: 25px;
    }
    .img-header{
      width: 80%;
      margin-left: 10% ;
    }
    .subtitle{
      margin-bottom: 25px;
    }


    .collection-item{
      background: url('./assets/images/collection1.svg');
      background-size: cover; 
      height: 750px;
    }
    .collection-item2{
      background: url('./assets/images/collection2.svg');
      background-size: cover;
      width: 100%;
      height: 750px;
    }
    .collection-detail{
      position: relative;
      top: 50%;
      left: 30%;
      transform: scale(0);
      transition: all 0.3s;
      width: 0;
    }
    .collection-item:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item:hover .collection-detail{
      transform: scale(1);
    }
    .collection-item2:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item2:hover .collection-detail{
      transform: scale(1);
    }
    .text-inner-img{
      font-weight: 700;
      color: #ffffff;
      font-size: 42px;
    }
    .img-service{
      width: 100%;
      margin-bottom: 30px;
    }
    .section-works{ 
      float: left;
      margin-top: 150px;
    }
    .section-work-button{
      padding: 0 0 50px 200px;
    }
    .jumbotron-grid .img-grid{
      width: 100%;
      height: 1020px;
      margin-bottom: -130px;
    }
    .page-footer{
      float: left;
      background-color: #151520;
      width: 100%;
    }

  }
  /* endTablet */

  /* Tablet Landscape */
  @media all and (min-width: 768px) and (max-width: 1024px) { 
    h1{
      font-size: 50px;
    }
    .header{
      height: auto;
      width: 100%;
      padding-bottom: 25px;
      padding-top: 90px;
    }
    .img-header{
      width: 100%;
      margin-left: 10% ;
    }
    .subtitle{
      margin-bottom: 25px;
    }


    .collection-item{
      background: url('./assets/images/collection1.svg');
      background-size: cover; 
      width: 100%;
      height: 550px;
    }
    .collection-item2{
      background: url('./assets/images/collection2.svg');
      background-size: cover;
      width: 100%;
      height: 550px;
    }
    .collection-detail{
      position: relative;
      top: 50%;
      left: 29%;
      transform: scale(0);
      transition: all 0.3s;
      width: 0;
    }
    .collection-item:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item:hover .collection-detail{
      transform: scale(1);
    }
    .collection-item2:hover{
      box-shadow: -1px 4px 36px 0px rgba(209,198,209,1);
      cursor: pointer;
      opacity: 0.9;
    }
    .collection-item2:hover .collection-detail{
      transform: scale(1);
    }
    .text-inner-img{
      font-weight: 700;
      color: #ffffff;
      font-size: 24px;
      text-align: center;
    }
    .img-service{
      width: 100%;
      margin-bottom: 30px;
    }
    .section-works{ 
      float: left;
      margin-top: 150px;
    }
    .section-work-button{
      padding: 70px 0 50px 50px;
    }
    .jumbotron-grid .img-grid{
      width: 50%;
      height: 700px;
      margin-bottom: -130px;
    }
    .page-footer{
      float: left;
      background-color: #151520;
      width: 100%;
    }
  }
  /* Tablet Landscape */
/* ENDRESPONSIVE ALL MEDIA */